* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5pt;
}

h1 {
  font-size: 96px;
  font-weight: 300;
  letter-spacing: -1.5pt;
}

h2 {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -0.5pt;
}

h3 {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0pt;
}

h4 {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.25pt;
}

h5 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0pt;
}

h6 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15pt;
}

.card > * {
  padding: 8px;
}

.card {
  background-color: white;
  float: left;
  padding: 16px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 8px;
}

.card-title {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5pt;
}

.card > p:not(.card-title) {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.25pt;
}

.card-content > a {
  color: #bf360c;
}

.card-button {
  background: none;
  border: none;
  font: inherit;
  text-transform: uppercase;
  outline: inherit;
  font-size: 14px;
  letter-spacing: 0.5pt;
  font-weight: 500;
  border-radius: 4px;
  float: right;
  margin: 0;
  padding: 8px 16px;
}

.card-button:enabled {
  color: #bf360c;
  cursor: pointer;
}

.card-button:disabled {
  color: #A6A6A6;
}

.card-button:enabled:hover {
  background-color: rgba(191, 54, 12, 0.1);
}

.card-button:enabled:focus {
  background-color: rgba(191, 54, 12, 0.15);
}

.card-button:enabled:focus:not(:active) {
  background-color: rgba(191, 54, 12, 0.1);
}

.card-button:enabled:not(:hover) {
  background: none;
}

.card-button:enabled:focus:not(:hover) {
  background: none;
}

#container {
  height: 100%;
}

#sidebar {
  width: 300px;
  height: 100%;
  background-color: #ffe0b2;
  overflow: auto;
  position: fixed;
}

#content-container {
  background-color: #eee;
  overflow: auto;
  margin-left: 300px;
  height: 100%;
}

#content {
  width: 80%;
  overflow: auto;
  margin: 40px auto;
}
