body {
    font-family: sans-serif;
    font-size: 13px;
}
header {
    text-align: center;
}

#container {
    margin: 0 auto;
    width: 800px;
}
#left, #right {
    float: left;
    width: 400px;
}

.color-box {
    width: 70px;
    height: 70px;
    float: left;
    margin: 1px;
    border-width: 1px;
    border-style: solid;
}
#color-box-container {
    height: auto;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.bar-container {
    float: left;
    clear: both;
    margin-bottom: 5px;
}
.progress-bar {
    width: 100px;
    height: 30px;
    float: left;
    margin-right: 5px;
}
.bar {
    width: 0;
    height: 30px;
}
.result {
    float: left;
    line-height: 30px;
    margin: 0;
}

#refresh-all {
    clear: both;
    margin-top: 10px;
}
