.colorBox {
  width:70px;
  height:70px; 
  display:inline-block;
  margin:0px;
	border-width:1px;
	border-style: solid;

	}
.colorBoxContainer {
	height:auto;
    float: left;
	max-width:66%;
}
.colorList {
    float:left;
    list-style-type:none;
	padding: 0px;

}
.progressBar {
      width: 100px;
	  height: 30px;
	}

.bar {
	  width: 0;
	  height: 30px;
	}
#genderText, #hightText, #weightText, #strengthText, #endowmentText{
	  position:absolute;
	  line-height:0px;
	  padding-left:110px;
	}
#colorName {
	  position:absolute;
	  line-height:0px;
	}
#barContainer {
	position:absolute;
	left: 350px;
	top: 65px;
	width: 50%;
}
#hairStyle {
	position:absolute;
	top: 230px;
	width: 50%;
}