header {
    text-align: center;
}

#container {
    margin: 0 auto;
    width: 800px;
}
#left, #right {
    float: left;
    width: 400px;
}

.colorBox {
    width: 70px;
    height: 70px;
    float: left;
    margin: 1px;
    border-width: 1px;
    border-style: solid;
}
.colorBoxContainer {
    height: auto;
    float: left;
    width: 100%;
}
.colorList {
    float: left;
    list-style-type: none;
    padding: 0px;
}
#colorName {
    position: absolute;
    line-height: 0px;
}

.progressBar {
    width: 100px;
    height: 30px;
}
.bar {
    width: 0;
    height: 30px;
}
#genderText, #heightText, #weightText, #strengthText, #endowmentText {
    position: absolute;
    line-height: 0px;
    padding-left: 110px;
}

#refreshAll {
    float: left;
    clear: both;
    margin-top: 10px;
}
